latest.sql
latest.sql.bz2
ol_dump_editions_2024-04-30.txt
ol_dump_editions_2024-04-30.txt.gz
out.txt
extracted_data.csv
extracted_data.csv.bz2
resume.txt
last_processed_isbn.txt
NodeTest/
cert.crt
books.pkl
pivot_table.pkl
similarity_scores.npy
client_secret_691956204808-o8ehhd1f6dbjfqp58iu2i86raprde1aq.apps.googleusercontent.com.json
.env

node_modules/